doctype html  
html(lang='en')
    head !{head.title.toString()} !{head.meta.toString()}
        link(rel="manifest", href=`${manifest}`)
        meta(name="viewport",content="width=device-width, initial-scale=1")
        meta(name="theme-color",content="#ffffff")
        link(rel="apple-touch-icon", href="/static/icon_512x512.png")
        each stylesheet in styles
          style !{stylesheet}
        if (typeof(state) !== 'undefined')
          script.
            window.state = !{state}
        script.
          if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
              navigator.serviceWorker.register('/sw.js', {
                scope: "/"
              });
            });
          }
        script.
          window.setTimeout(checkChatWindow, 200);
          function checkChatWindow() {
            if(window.fcWidget && window.fcWidget.isLoaded() == true) {
              //- document.getElementById("chat-button").classList.add("active");
            } else {
              window.setTimeout(checkChatWindow, 200);
            }
          }

          function OpenChatBox() { 
              if(window.fcWidget.isInitialized() && window.fcWidget.isLoaded()) {
              if(!window.fcWidget.isOpen()) {
                OpenBox();
                window.fcWidget.open();
              } else {
                window.fcWidget.close();
              }
            }
          }

          function OpenBox() {
            
              //- var rem2 = document.getElementById("lc_chat_layout");
              //- rem2.classList.remove("lc-collapsed");
              //- rem2.classList.remove("lc-expanded");
              //- rem2.classList.add("lc-expanded");
              //- rem2.style.height = null;
              if(document.getElementById('chat-button').className == "chat-close") {
                document.getElementById('chat-button').className = "chat-button active";
                document.getElementById('whatsapp').className = 'whatsapp-active';
                document.getElementById('fresh-chat').className = 'fresh-chat active';
              } else {
                document.getElementById('chat-button').className = "chat-close";
                document.getElementById('whatsapp').className = 'whatsapp-active activate';
                document.getElementById('fresh-chat').className = 'fresh-chat';
              }
              //- document.getElementById('fc_frame').style = {display:'block'}
          }
          
            function initFreshChat() {
              window.fcWidget.init({
                token: "17403182-a90c-4083-85d3-079d49362ef1",
                host: "https://wchat.freshchat.com",
                config: {
                  disableEvents: true,
                  cssNames: {
                    widget: 'fc_frame',
                    open: 'fc_open',
                    expanded: 'fc_expanded'
                  },
                  showFAQOnOpen: true,
                  hideFAQ: true,
                  agent: {
                    hideName: false,
                    hidePic: false,
                    hideBio: false,
                  },
                  headerProperty: {
                    //Hide the chat button on load
                    hideChatButton: true,
                  },
                  content: {
                    placeholders: {
                      search_field: 'Search',
                      reply_field: 'Reply',
                      csat_reply: 'Add your comments here'
                    },
                    actions: {
                      csat_yes: 'Yes',
                      csat_no: 'No',
                      push_notify_yes: 'Yes',
                      push_notify_no: 'No',
                      tab_faq: 'Solutions',
                      tab_chat: 'Chat',
                      csat_submit: 'Submit'
                    },
                    headers: {
                      chat: 'Welcome to Good Earth',
                      chat_help: 'Reach out to us if you have any questions',
                      faq: 'Solution Articles',
                      faq_help: 'Browse our articles',
                      faq_not_available: 'No Articles Found',
                      faq_search_not_available: 'No articles were found for {{query}}',
                      faq_useful: 'Was this article helpful?',
                      faq_thankyou: 'Thank you for your feedback',
                      faq_message_us: 'Message Us',
                      push_notification: 'Don\'t miss out on any replies! Allow push notifications?',
                      csat_question: 'Did we address your concerns??',
                      csat_yes_question: 'How would you rate this interaction?',
                      csat_no_question: 'How could we have helped better?',
                      csat_thankyou: 'Thanks for the response',
                      csat_rate_here: 'Submit your rating here',
                      channel_response: {
                        offline: 'We are currently away. Please leave us a message',
                        online: {
                          minutes: {
                            one: "Currently replying in {!time!} minutes ",
                            more: "Typically replies in {!time!} minutes"
                          },
                          hours: {
                            one: "Currently replying in under an hour",
                            more: "Typically replies in {!time!} hours",
                          }
                        }
                      }
                    }
                  }
                }
              });
            }
            function initialize(i,t){var e;i.getElementById(t)?initFreshChat():setTimeout(function() {((e=i.createElement("script")).id=t,e.async=!0,e.src="https://wchat.freshchat.com/js/widget.js",e.onload=initFreshChat,i.head.appendChild(e))}, 100)}function initiateCall(){initialize(document,"freshchat-js-sdk")}window.addEventListener?window.addEventListener("load",initiateCall,!1):window.attachEvent("load",initiateCall,!1);

          function ScrollToTop() {
              window.scrollTo({
                  top: 0,
                  behavior: 'smooth',
              })
          }
          window.addEventListener('scroll', function () {
              if (window.innerHeight - window.pageYOffset < 0) {
                  const scrollToTopButton = document.getElementById("scrollToTop-btn");
                  if (scrollToTopButton && scrollToTopButton.classList.contains("scrollToTop-btn-hidden")) {
                      scrollToTopButton.classList.replace("scrollToTop-btn-hidden", "scrollToTop-btn");
                  }
              }
              else {
                  const scrollToTopButton = document.getElementById("scrollToTop-btn");
                  if (scrollToTopButton && scrollToTopButton.classList.contains("scrollToTop-btn")) {
                      scrollToTopButton.classList.replace("scrollToTop-btn", "scrollToTop-btn-hidden");
                  }
              }
          })

        
        script.
          window.dataLayer = window.dataLayer || [];
          var isBot = /bot|googlebot|crawler|spider|robot|curl|crawling/i.test(window.navigator.userAgent);
          if(!isBot) {
          (function (a, s, y, n, c, h, i, d, e) {
            s.className += ' ' + y;
            h.start = 1 * new Date;
            h.end = i = function () {
                s.className = s.className.replace(RegExp(' ?' + y), '')
            };
            (a[n] = a[n] || []).hide = h;
            setTimeout(function () {
                i();
                h.end = null
            }, c);
            h.timeout = c;
            })(window, document.documentElement, 'async-hide', 'dataLayer', 4000, {!{gtmdata}: true});

          (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
          })(window, document, 'script', 'dataLayer', !{gtmdata})
          }
        noscript.
          <iframe src="https://www.googletagmanager.com/ns.html?id="+!{gtmdata}
            height="0" width="0" style="display:none;visibility:hidden"></iframe>

    body
        div(id='main', class='main') !{content}
        div !{scripts}
        div(id='scrollToTop-btn' class='scrollToTop-btn-hidden' onClick='ScrollToTop()')
          i(class='icon_uparrow-white')
        div(id='fresh-chat', onclick='OpenChatBox()', class='fresh-chat active')
          i(class='icon-chat')
        div(id='chat-button', onclick='OpenBox()', class='chat-button active')
          i(class='icon-question')