doctype html  
html(lang='en')
    head !{head.title.toString()} !{head.meta.toString()}
        link(rel="manifest", href=`${manifest}`)
        meta(name="viewport",content="width=device-width, initial-scale=1")
        meta(name="theme-color",content="#ffffff")
        link(rel="apple-touch-icon", href="/static/icon_512x512.png")
        each stylesheet in styles
          style !{stylesheet}
        if (typeof(state) !== 'undefined')
          script.
            window.state = !{state}
        script.
          if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
              navigator.serviceWorker.register('/sw.js', {
                scope: "/"
              });
            });
          }
        script.
          var fc_CSS = document.createElement('link');
          fc_CSS.setAttribute('rel', 'stylesheet');
          var fc_isSecured = (window.location && window.location.protocol == 'https:');
          var fc_lang = document.getElementsByTagName('html')[0].getAttribute('lang');
          var fc_rtlLanguages = ['ar', 'he'];
          var fc_rtlSuffix = (fc_rtlLanguages.indexOf(fc_lang) >= 0) ? '-rtl' : '';
          fc_CSS.setAttribute('type', 'text/css');
          fc_CSS.setAttribute('href', ((fc_isSecured) ? 'https://d36mpcpuzc4ztk.cloudfront.net' : 'http://assets1.chat.freshdesk.com') + '/css/visitor' + fc_rtlSuffix + '.css');
          document.getElementsByTagName('head')[0].appendChild(fc_CSS);
          var fc_JS = document.createElement('script');
          fc_JS.type = 'text/javascript';
          fc_JS.defer = true;
          fc_JS.src = ((fc_isSecured) ? 'https://d36mpcpuzc4ztk.cloudfront.net' : 'http://assets.chat.freshdesk.com') + '/js/visitor.js';
          (document.body ? document.body : document.getElementsByTagName('head')[0]).appendChild(fc_JS);
          window.livechat_setting = 'eyJ3aWRnZXRfc2l0ZV91cmwiOiJnb29kZWFydGguZnJlc2hkZXNrLmNvbSIsInByb2R1Y3RfaWQiOm51bGwsIm5hbWUiOiJHb29kZWFydGgiLCJ3aWRnZXRfZXh0ZXJuYWxfaWQiOm51bGwsIndpZGdldF9pZCI6ImU0OWE4NmQxLWU0MzUtNDkwYi04NWM0LWRlZWEwMDIzMzI3OCIsInNob3dfb25fcG9ydGFsIjp0cnVlLCJwb3J0YWxfbG9naW5fcmVxdWlyZWQiOmZhbHNlLCJsYW5ndWFnZSI6bnVsbCwidGltZXpvbmUiOm51bGwsImlkIjo1MDAwMDAyNTIwLCJtYWluX3dpZGdldCI6MSwiZmNfaWQiOiJmOTMxZDVmMDY0MTgzN2NlYjJjM2FmODUyZGFkYzg2YiIsInNob3ciOjEsInJlcXVpcmVkIjoyLCJoZWxwZGVza25hbWUiOiJHb29kZWFydGgiLCJuYW1lX2xhYmVsIjoiTmFtZSIsIm1lc3NhZ2VfbGFiZWwiOiJNZXNzYWdlIiwicGhvbmVfbGFiZWwiOiJQaG9uZSIsInRleHRmaWVsZF9sYWJlbCI6IlRleHRmaWVsZCIsImRyb3Bkb3duX2xhYmVsIjoiRHJvcGRvd24iLCJ3ZWJ1cmwiOiJnb29kZWFydGguZnJlc2hkZXNrLmNvbSIsIm5vZGV1cmwiOiJjaGF0LmZyZXNoZGVzay5jb20iLCJkZWJ1ZyI6MSwibWUiOiJNZSIsImV4cGlyeSI6MCwiZW52aXJvbm1lbnQiOiJwcm9kdWN0aW9uIiwiZW5kX2NoYXRfdGhhbmtfbXNnIjoiVGhhbmsgeW91ISEhIiwiZW5kX2NoYXRfZW5kX3RpdGxlIjoiRW5kIiwiZW5kX2NoYXRfY2FuY2VsX3RpdGxlIjoiQ2FuY2VsIiwic2l0ZV9pZCI6ImY5MzFkNWYwNjQxODM3Y2ViMmMzYWY4NTJkYWRjODZiIiwiYWN0aXZlIjoxLCJyb3V0aW5nIjp7ImNob2ljZXMiOnsiUHJvZHVjdCI6WyIwIl0sIk9yZGVyIjpbIjAiXSwiT3RoZXJzIjpbIjAiXSwiZGVmYXVsdCI6WyIwIl0sIlJldHVybiAmIEV4Y2hhbmdlIjpbIjAiXSwiVGF4ICYgU2hpcHBpbmcgQ2hhcmdlcyI6WyIwIl19LCJkcm9wZG93bl9iYXNlZCI6ImZhbHNlIn0sInByZWNoYXRfZm9ybSI6MSwiYnVzaW5lc3NfY2FsZW5kYXIiOm51bGwsInByb2FjdGl2ZV9jaGF0IjowLCJwcm9hY3RpdmVfdGltZSI6MTUsInNpdGVfdXJsIjoiZ29vZGVhcnRoLmZyZXNoZGVzay5jb20iLCJleHRlcm5hbF9pZCI6bnVsbCwiZGVsZXRlZCI6MCwibW9iaWxlIjoxLCJhY2NvdW50X2lkIjpudWxsLCJjcmVhdGVkX2F0IjoiMjAxNC0wOS0xMVQwNzoxMDoxOS4wMDBaIiwidXBkYXRlZF9hdCI6IjIwMTYtMTAtMDVUMTE6MTk6MzIuMDAwWiIsImNiRGVmYXVsdE1lc3NhZ2VzIjp7ImNvYnJvd3Npbmdfc3RhcnRfbXNnIjoiWW91ciBzY3JlZW5zaGFyZSBzZXNzaW9uIGhhcyBzdGFydGVkIiwiY29icm93c2luZ19zdG9wX21zZyI6IllvdXIgc2NyZWVuc2hhcmluZyBzZXNzaW9uIGhhcyBlbmRlZCIsImNvYnJvd3NpbmdfZGVueV9tc2ciOiJZb3VyIHJlcXVlc3Qgd2FzIGRlY2xpbmVkIiwiY29icm93c2luZ19hZ2VudF9idXN5IjoiQWdlbnQgaXMgaW4gc2NyZWVuIHNoYXJlIHNlc3Npb24gd2l0aCBjdXN0b21lciIsImNvYnJvd3Npbmdfdmlld2luZ19zY3JlZW4iOiJZb3UgYXJlIHZpZXdpbmcgdGhlIHZpc2l0b3LigJlzIHNjcmVlbiIsImNvYnJvd3NpbmdfY29udHJvbGxpbmdfc2NyZWVuIjoiWW91IGFyZSBjb250cm9sbGluZyB0aGUgdmlzaXRvcuKAmXMgc2NyZWVuIiwiY29icm93c2luZ19yZXF1ZXN0X2NvbnRyb2wiOiJSZXF1ZXN0IHZpc2l0b3IgZm9yIGNvbnRyb2wiLCJjb2Jyb3dzaW5nX2dpdmVfdmlzaXRvcl9jb250cm9sIjoiR2l2ZSBjb250cm9sIHRvIHZpc2l0b3IiLCJjb2Jyb3dzaW5nX3N0b3BfcmVxdWVzdCI6IkVuZCB5b3VyIHNjcmVlbnNoYXJpbmcgc2Vzc2lvbiIsImNvYnJvd3NpbmdfcmVxdWVzdF9jb250cm9sX3JlamVjdGVkIjoiWW91ciByZXF1ZXN0IHdhcyBkZWNsaW5lZCIsImNvYnJvd3NpbmdfY2FuY2VsX3Zpc2l0b3JfbXNnIjoiU2NyZWVuc2hhcmluZyBpcyBjdXJyZW50bHkgdW5hdmFpbGFibGUiLCJjYl92aWV3aW5nX3NjcmVlbl92aSI6IkFnZW50IGNhbiB2aWV3IHlvdXIgc2NyZWVuICIsImNiX2NvbnRyb2xsaW5nX3NjcmVlbl92aSI6IkFnZW50IGlzIGNvbnRyb2xsaW5nIHlvdXIgc2NyZWVuICIsImNiX3ZpZXdfbW9kZV9zdWJ0ZXh0IjoiWW91IGFyZSBub3QgY29udHJvbGxpbmcgeW91ciBzY3JlZW4iLCJjYl9naXZlX2NvbnRyb2xfdmkiOiJBbGxvdyBhZ2VudCB0byBjb250cm9sIHlvdXIgc2NyZWVuIiwiY2JfdmlzaXRvcl9zZXNzaW9uX3JlcXVlc3QiOiJDYW4gYWdlbnQgY29udHJvbCB5b3VyIGN1cnJlbnQgc2NyZWVuPyJ9fQ==';


          window.setTimeout(checkChatWindow, 200);
          function checkChatWindow() {
              if (document.getElementById("lc_chat_layout") != null) {
                  if (!document.getElementById("lc_chat_layout").classList.contains('lc-expanded')) {
                      document.getElementById("chat-button").classList.add("active");
                  }
              } else {
                  window.setTimeout(checkChatWindow, 200);
              }

          }

          function OpenChatBox() {
              //- var rem2 = document.getElementById("lc_chat_layout");
              //- rem2.classList.remove("lc-collapsed");
              //- rem2.classList.remove("lc-expanded");
              //- rem2.classList.add("lc-expanded");
              //- rem2.style.height = null;
              const oldChatButton = document.getElementById("fc_frame");
              //- oldChatButton.classList.remove()
          }
          
            function initFreshChat() {
              window.fcWidget.init({
                token: "17403182-a90c-4083-85d3-079d49362ef1",
                host: "https://wchat.freshchat.com",
                config: {
                  disableEvents: true,
                  cssNames: {
                    widget: 'fc_frame',
                    open: 'fc_open',
                    expanded: 'fc_expanded'
                  },
                  showFAQOnOpen: true,
                  hideFAQ: true,
                  agent: {
                    hideName: false,
                    hidePic: false,
                    hideBio: false,
                  },
                  content: {
                    placeholders: {
                      search_field: 'Search',
                      reply_field: 'Reply',
                      csat_reply: 'Add your comments here'
                    },
                    actions: {
                      csat_yes: 'Yes',
                      csat_no: 'No',
                      push_notify_yes: 'Yes',
                      push_notify_no: 'No',
                      tab_faq: 'Solutions',
                      tab_chat: 'Chat',
                      csat_submit: 'Submit'
                    },
                    headers: {
                      chat: 'Welcome to Good Earth',
                      chat_help: 'Reach out to us if you have any questions',
                      faq: 'Solution Articles',
                      faq_help: 'Browse our articles',
                      faq_not_available: 'No Articles Found',
                      faq_search_not_available: 'No articles were found for {{query}}',
                      faq_useful: 'Was this article helpful?',
                      faq_thankyou: 'Thank you for your feedback',
                      faq_message_us: 'Message Us',
                      push_notification: 'Don\'t miss out on any replies! Allow push notifications?',
                      csat_question: 'Did we address your concerns??',
                      csat_yes_question: 'How would you rate this interaction?',
                      csat_no_question: 'How could we have helped better?',
                      csat_thankyou: 'Thanks for the response',
                      csat_rate_here: 'Submit your rating here',
                      channel_response: {
                        offline: 'We are currently away. Please leave us a message',
                        online: {
                          minutes: {
                            one: "Currently replying in {!time!} minutes ",
                            more: "Typically replies in {!time!} minutes"
                          },
                          hours: {
                            one: "Currently replying in under an hour",
                            more: "Typically replies in {!time!} hours",
                          }
                        }
                      }
                    }
                  }
                }
              });
            }
            function initialize(i,t){var e;i.getElementById(t)?initFreshChat():((e=i.createElement("script")).id=t,e.async=!0,e.src="https://wchat.freshchat.com/js/widget.js",e.onload=initFreshChat,i.head.appendChild(e))}function initiateCall(){initialize(document,"freshchat-js-sdk")}window.addEventListener?window.addEventListener("load",initiateCall,!1):window.attachEvent("load",initiateCall,!1);

          function ScrollToTop() {
              window.scrollTo({
                  top: 0,
                  behavior: 'smooth',
              })
          }
          window.addEventListener('scroll', function () {
              if (window.innerHeight - window.pageYOffset < 0) {
                  const scrollToTopButton = document.getElementById("scrollToTop-btn");
                  if (scrollToTopButton && scrollToTopButton.classList.contains("scrollToTop-btn-hidden")) {
                      scrollToTopButton.classList.replace("scrollToTop-btn-hidden", "scrollToTop-btn");
                  }
              }
              else {
                  const scrollToTopButton = document.getElementById("scrollToTop-btn");
                  if (scrollToTopButton && scrollToTopButton.classList.contains("scrollToTop-btn")) {
                      scrollToTopButton.classList.replace("scrollToTop-btn", "scrollToTop-btn-hidden");
                  }
              }
          })

        
        script.
          window.dataLayer = window.dataLayer || [];
          (function (a, s, y, n, c, h, i, d, e) {
            s.className += ' ' + y;
            h.start = 1 * new Date;
            h.end = i = function () {
                s.className = s.className.replace(RegExp(' ?' + y), '')
            };
            (a[n] = a[n] || []).hide = h;
            setTimeout(function () {
                i();
                h.end = null
            }, c);
            h.timeout = c;
            })(window, document.documentElement, 'async-hide', 'dataLayer', 4000, {!{gtmdata}: true});

          (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
          })(window, document, 'script', 'dataLayer', !{gtmdata})

        noscript.
          <iframe src="https://www.googletagmanager.com/ns.html?id="+!{gtmdata}
            height="0" width="0" style="display:none;visibility:hidden"></iframe>

    body
        div(id='main', class='main') !{content}
        div !{scripts}
        div(id='scrollToTop-btn' class='scrollToTop-btn-hidden' onClick='ScrollToTop()')
          i(class='icon_uparrow-white')
        div(id='chat-button', onclick='OpenChatBox()', class='chat-button')
          i(class='icon-question')