doctype html  
html(lang='en')
    head !{head.title.toString()} !{head.meta.toString()} !{head.link.toString()}
        link(rel="manifest", href=`${manifest}`)
        meta(name="viewport",content="width=device-width, initial-scale=1")
        meta(name="theme-color",content="#ffffff")
        link(rel="apple-touch-icon", href="/static/icon_512x512.png")
        link(rel="preload", href=`${cdn}/media/fonts/Franklin%20Gothic%20Medium.ttf`, as="font", crossorigin)
        link(rel="preload", href=`${cdn}/media/fonts/Lato%20regular.ttf`, as="font", crossorigin)
        link(rel="preload", href=`${cdn}/media/fonts/Lato%20300.ttf`, as="font", crossorigin)
        link(rel="preload", href=`${cdn}/media/fonts/Lato%20700italic.ttf`, as="font", crossorigin)
        link(rel="preload", href=`${cdn}/media/fonts/Lato%20300italic.ttf`, as="font", crossorigin)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Bellefair|Amiri", crossorigin)
        each stylesheet in styles
          style !{stylesheet}
        if (typeof(state) !== 'undefined')
          script.
            window.state = JSON.parse(!{state})
        script(type='text/javascript', src='https://cdn.moengage.com/webpush/releases/serviceworker_cdn.min.latest.js')
        script.
          if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            // Add this line to the top of the file
            window.addEventListener('load', () => {
              navigator.serviceWorker.register('/sw.js', {
                scope: "/"
              });
            });
          }
        script.
          window.setTimeout(checkChatWindow, 200);
          function checkChatWindow() {
            if(window.fcWidget && window.fcWidget.isLoaded() == true) {
              //- document.getElementById("chat-button").classList.add("active");
            } else {
              window.setTimeout(checkChatWindow, 200);
            }
          }

          function OpenChatBox() { 
              if(window.fcWidget.isInitialized() && window.fcWidget.isLoaded()) {
              if(!window.fcWidget.isOpen()) {
                OpenBox();
                window.fcWidget.open();
              } else {
                window.fcWidget.close();
              }
            }
          }

          function OpenBox() {
              // initialize freshchat if not already
              if(!window.fcWidget) {
                initialize(document,"freshchat-js-sdk");
              }
              if(document.getElementById('chat-button').className == "chat-close") {
                document.getElementById('chat-button').className = "chat-button active";
                document.getElementById('whatsapp').className = 'whatsapp-img whatsapp-active';
                document.getElementById('fresh-chat').className = 'fresh-chat active';
                // to handle scroll button hide
                if (window.innerHeight - window.pageYOffset < 0) {
                  const scrollToTopButton = document.getElementById("scrollToTop-btn");
                  if (scrollToTopButton && scrollToTopButton.classList.contains("scrollToTop-btn-hidden")) {
                      scrollToTopButton.classList.replace("scrollToTop-btn-hidden", "scrollToTop-btn");
                  }
              }
              } else {
                document.getElementById('chat-button').className = "chat-close";
                document.getElementById('whatsapp').className = 'whatsapp-img whatsapp-active activate';
                document.getElementById('fresh-chat').className = 'fresh-chat';
                // to handle scroll button show
                const scrollToTopButton = document.getElementById("scrollToTop-btn");
                  if (scrollToTopButton && scrollToTopButton.classList.contains("scrollToTop-btn")) {
                      scrollToTopButton.classList.replace("scrollToTop-btn", "scrollToTop-btn-hidden");
                  }
              }
              //- document.getElementById('fc_frame').style = {display:'block'}
          }
          
            function initFreshChat() {
              window.fcWidget.init({
                token: "17403182-a90c-4083-85d3-079d49362ef1",
                host: "https://wchat.freshchat.com",
                config: {
                  disableEvents: true,
                  cssNames: {
                    widget: 'fc_frame',
                    open: 'fc_open',
                    expanded: 'fc_expanded'
                  },
                  showFAQOnOpen: true,
                  hideFAQ: true,
                  agent: {
                    hideName: false,
                    hidePic: false,
                    hideBio: false,
                  },
                  headerProperty: {
                    //Hide the chat button on load
                    hideChatButton: true,
                  },
                  content: {
                    placeholders: {
                      search_field: 'Search',
                      reply_field: 'Reply',
                      csat_reply: 'Add your comments here'
                    },
                    actions: {
                      csat_yes: 'Yes',
                      csat_no: 'No',
                      push_notify_yes: 'Yes',
                      push_notify_no: 'No',
                      tab_faq: 'Solutions',
                      tab_chat: 'Chat',
                      csat_submit: 'Submit'
                    },
                    headers: {
                      chat: 'Welcome to Good Earth',
                      chat_help: 'Reach out to us if you have any questions',
                      faq: 'Solution Articles',
                      faq_help: 'Browse our articles',
                      faq_not_available: 'No Articles Found',
                      faq_search_not_available: 'No articles were found for {{query}}',
                      faq_useful: 'Was this article helpful?',
                      faq_thankyou: 'Thank you for your feedback',
                      faq_message_us: 'Message Us',
                      push_notification: 'Don\'t miss out on any replies! Allow push notifications?',
                      csat_question: 'Did we address your concerns??',
                      csat_yes_question: 'How would you rate this interaction?',
                      csat_no_question: 'How could we have helped better?',
                      csat_thankyou: 'Thanks for the response',
                      csat_rate_here: 'Submit your rating here',
                      channel_response: {
                        offline: 'We are currently away. Please leave us a message',
                        online: {
                          minutes: {
                            one: "Currently replying in {!time!} minutes ",
                            more: "Typically replies in {!time!} minutes"
                          },
                          hours: {
                            one: "Currently replying in under an hour",
                            more: "Typically replies in {!time!} hours",
                          }
                        }
                      }
                    }
                  }
                }
              });
            }
            //- default freshchat script
            //- function initialize(i,t){var e;i.getElementById(t)?initFreshChat():setTimeout(function() {((e=i.createElement("script")).id=t,e.async=!0,e.src="https://wchat.freshchat.com/js/widget.js",e.onload=initFreshChat,i.head.appendChild(e))}, 100)}function initiateCall(){initialize(document,"freshchat-js-sdk")}window.addEventListener?window.addEventListener("load",initiateCall,!1):window.attachEvent("load",initiateCall,!1);

            function initialize(i,t){var e;i.getElementById(t)?initFreshChat():setTimeout(function() {((e=i.createElement("script")).id=t,e.async=!0,e.src="https://wchat.freshchat.com/js/widget.js",e.onload=initFreshChat,i.head.appendChild(e))}, 100)}

          function ScrollToTop() {
              window.scrollTo({
                  top: 0,
                  behavior: 'smooth',
              })
          }
          window.addEventListener('scroll', function () {
              if (window.innerHeight - window.pageYOffset < 0) {
                  const isMenuOpen = document.getElementById("chat-button") && document.getElementById("chat-button").classList.contains("chat-close");
                  const scrollToTopButton = document.getElementById("scrollToTop-btn");
                  if (!isMenuOpen && scrollToTopButton && scrollToTopButton.classList.contains("scrollToTop-btn-hidden")) {
                      scrollToTopButton.classList.replace("scrollToTop-btn-hidden", "scrollToTop-btn");
                  }
              }
              else {
                  const scrollToTopButton = document.getElementById("scrollToTop-btn");
                  if (scrollToTopButton && scrollToTopButton.classList.contains("scrollToTop-btn")) {
                      scrollToTopButton.classList.replace("scrollToTop-btn", "scrollToTop-btn-hidden");
                  }
              }
          })
          const handleMouseMove = function () {
            if(!window.fcWidget) {
              initialize(document,"freshchat-js-sdk");
            }
            window.removeEventListener('mousemove', handleMouseMove);
          }
          //- window.addEventListener('mousemove', handleMouseMove)

          const initializeFreshChat = function () {
            if(!window.fcWidget) {
              initialize(document,"freshchat-js-sdk");
            }
            window.removeEventListener('scroll', initializeFreshChat);
          }
          //- window.addEventListener('scroll', initializeFreshChat)
        script.
          (function(i,s,o,g,r,a,m,n){i.moengage_object=r;t={};q=function(f){return function(){(i.moengage_q=i.moengage_q||[]).push({f:f,a:arguments})}};f=['track_event','add_user_attribute','add_first_name','add_last_name','add_email','add_mobile','add_user_name','add_gender','add_birthday','destroy_session','add_unique_user_id','moe_events','call_web_push','track','location_type_attribute'],h={onsite:["getData","registerCallback"]};for(k in f){t[f[k]]=q(f[k])}for(k in h)for(l in h[k]){null==t[k]&&(t[k]={}),t[k][h[k][l]]=q(k+"."+h[k][l])}a=s.createElement(o);m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m);i.moe=i.moe||function(){n=arguments[0];return t};a.onload=function(){if(n){i[r]=moe(n)}}})(window,document,'script','https://cdn.moengage.com/webpush/moe_webSdk.min.latest.js','Moengage')

          Moengage = moe({
              app_id:"4KK0OEEQLWKYGNZXJQJ5UO5B_DEBUG",
              debug_logs: 1,
              cluster: "DC_3"
          });
          Moengage.call_web_push();
        script.
          window.dataLayer = window.dataLayer || [];
          var isBot = /bot|googlebot|crawler|spider|robot|curl|crawling/i.test(window.navigator.userAgent);
          if(!isBot) {
          (function (a, s, y, n, c, h, i, d, e) {
            s.className += ' ' + y;
            h.start = 1 * new Date;
            h.end = i = function () {
                s.className = s.className.replace(RegExp(' ?' + y), '')
            };
            (a[n] = a[n] || []).hide = h;
            setTimeout(function () {
                i();
                h.end = null
            }, c);
            h.timeout = c;
            })(window, document.documentElement, 'async-hide', 'dataLayer', 4000, {!{gtmdata}: true});

          (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
          })(window, document, 'script', 'dataLayer', !{gtmdata})
          }
        noscript.
          <iframe src="https://www.googletagmanager.com/ns.html?id="+!{gtmdata}
            height="0" width="0" style="display:none;visibility:hidden"></iframe>

    body
        div(id='main', class='main') !{content}
        div !{newrelicScript}
        div !{scripts}
        div(id="chat-container" class='chat-container')
          div(id='scrollToTop-btn' class='scrollToTop-btn-hidden' onClick='ScrollToTop()')
            i(class='icon_uparrow-white')
          //- a(href='https://wa.me/+917669303665' target='_blank' rel='noopener noreferrer')
          //-   div(id='whatsapp' class='whatsapp-img whatsapp-active')
          //-     //- img(src="/static/images/whatsapp.svg", alt="whatsapp icon" width='40px')
          //- div(id='fresh-chat', onclick='OpenChatBox()', class='fresh-chat active')
          //-   i(class='icon-chat')
          //- div(id='chat-button', onclick='OpenBox()', class='chat-button active')
          //-   i(class='icon-question')